<div class="modal-header">
    <h3 class="modal-title">Add Project</h3>
</div>

<div class="modal-body">

    <form name="project.form" novalidate>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label class="required">Project Title</label>
                        <input type="text" name="title" ng-model="project.title" ng-maxlength="100" required class="form-control" />
                        <div class="text-danger field-validation-error" ng-messages="project.form.submitted && project.form.title.$error">
                            <span ng-message="required">This field is required.</span>
                            <span ng-message="maxlength">Title is too long</span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <label>Project Url</label>
                        <input type="url" name="url" ng-model="project.url" class="form-control" />
                        <div class="text-danger field-validation-error" ng-messages="project.form.submitted && project.form.url.$error">
                            <span ng-message="url">This is not a valid url.</span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 ">
                    <div class="form-group">
                        <label>Project Description</label>
                        <textarea name="description" ng-model="project.description" class="form-control" rows="6" ng-maxlength="1000"></textarea>
                        <div class="text-danger field-validation-error" ng-messages="project.form.submitted && project.form.description.$error">
                            <span ng-message="maxlength">This field length is too large.</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="project.save()">Save</button>
    <button class="btn btn-danger" type="button" ng-click="project.cancel()">Cancel</button>
</div>