@{
    ViewBag.Title = "Edit Profile";
}

<h2>Edit Information</h2>
<hr />

<div ng-controller="AccountsController as account" ng-init="account.getProfileData()">

    <div class="row">

        <div class="col-xs-8">
            <div class="panel panel-success userBasicInfoEdit">
                <div class="panel-heading">
                    <i class="fa fa-info-circle fa-lg"></i>
                    Basic Information
                </div>

                <div class="panel-body">
                    <form name="account.form" class="form-horizontal" ng-submit="account.saveBasicInformation()" novalidate>

                        <div class="form-group">
                            <label class="control-label col-sm-2 required">First Name</label>
                            <div class="col-sm-6">
                                <input type="text" name="firstName" ng-model="account.applicationUser.firstName" ng-maxlength="30" required class="form-control" />
                                <div class="text-danger field-validation-error" ng-messages="account.form.submitted && account.form.firstName.$error">
                                    <span ng-message="required">This field is required.</span>
                                    <span ng-message="maxlength">The field length is too large</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2 required">Last Name</label>
                            <div class="col-sm-6">
                                <input type="text" name="lastName" ng-model="account.applicationUser.lastName" ng-maxlength="30" required class="form-control" />
                                <div class="text-danger field-validation-error" ng-messages="account.form.submitted && account.form.lastName.$error">
                                    <span ng-message="required">This field is required.</span>
                                    <span ng-message="maxlength">The field length is too large.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2 required">Email</label>
                            <div class="col-sm-6">
                                <input type="email" name="email" ng-model="account.applicationUser.email" ng-maxlength="50" required class="form-control" />
                                <div class="text-danger field-validation-error" ng-messages="account.form.submitted && account.form.email.$error">
                                    <span ng-message="required">This field is required.</span>
                                    <span ng-message="email">This is not a valid email address.</span>
                                    <span ng-message="maxlength">The field length is too large.</span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-2">Mobile</label>
                            <div class="col-sm-6">
                                <input type="tel" name="phoneNumber" ng-model="account.applicationUser.phoneNumber" ng-pattern="/^\(?(\d{5})\)?[ .-]?(\d{6})$/" class="form-control" />
                                <div class="text-danger field-validation-error" ng-messages="account.form.submitted && account.form.phoneNumber.$error">
                                    <span ng-message="pattern">This is not a valid phone number.</span>
                                </div>
                            </div>
                        </div>

                        <input type="submit" value="Save Information" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="panel panel-success userAvatarEdit">
                <div class="panel-heading">
                    <i class="fa fa-picture-o fa-lg"></i>
                    Change Avatar
                </div>
                <form novalidate>
                    <div class="panel-body">
                        <img src="~/Content/Images/default-avatar.jpg" ng-src="{{ account.applicationUser.avatar.relativePath }}" alt="default avatar" class="img-thumbnail" style="height: 155px; width: 155px;">
                        <input type="file" name="avatar" title="Select Photo" accept="image/*" ngf-fix-orientation="false" ngf-select="account.uploadAvatar($file)" />
                        <br />
                        <button type="button" class="btn btn-danger"
                                ng-click="account.removeAvatar()"
                                ng-hide="!account.applicationUser.avatar">
                            Remove Avatar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>