<div class="panel panel-success" ng-repeat="page in ctrl.pages">
    <div class="panel-heading">Page {{ $index + 1 }}</div>

    <div class="panel-body">
        <div ng-hide="page.quizQuestions && page.quizQuestions.length">
            <i class="fa fa-lg fa-exclamation-triangle"></i>
            No questions are added yet.
        </div>

        <div class="table-responsive" ng-show="page.quizQuestions && page.quizQuestions.length">
            <table class="table">
                <tr>
                    <th>Text</th>
                    <th>Category</th>
                    <th></th>
                </tr>
                <tr ng-repeat="question in page.quizQuestions track by $index">
                    <td>
                        <div ng-bind="question.text"></div>
                    </td>
                    <td>
                        <div ng-bind="question.category.name"></div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-info btn-sm" ng-click="ctrl.viewQuestion(page, $index)">
                            View
                        </button>
                        <button type="button" class="btn btn-danger btn-sm" ng-click="ctrl.discardQuestion(page, $index)">
                            Remove
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel-footer">
        <button type="button" class="btn btn-primary" ng-click="ctrl.openQuestionModal($index)">Add questions</button>
    </div>
</div>