<div class="modal-header">
    <h3 class="modal-title">Add Experience</h3>
</div>

<div class="modal-body">

    <form name="experience.form" novalidate>

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label class="required">Company Name</label>
                        <input type="text" name="organization" ng-model="experience.organization" required class="form-control" />
                        <div class="text-danger field-validation-error" ng-messages="experience.form.submitted && experience.form.organization.$error">
                            <span ng-message="required">This field is required.</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-group">
                        <label class="required">Job Title</label>
                        <input type="text" name="jobTitle" ng-model="experience.jobTitle" required class="form-control" />
                        <div class="text-danger field-validation-error" ng-messages="experience.form.submitted && experience.form.jobTitle.$error">
                            <span ng-message="required">This field is required.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-xs-12">

                    <div class="form-group">
                        <label class="required">Time Period</label>
                    </div>

                    <div class="row">
                        <div class="col-xs-1">From</div>
                        <div class="col-xs-5">
                            <div class="input-group">
                                <input type="text" name="startDate" class="form-control" placeholder="Select date" required
                                       ng-model="experience.startDate"
                                       uib-datepicker-popup="dd-MMMM-yyyy"
                                       is-open="experience.isStartDateCalendarOpened">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="experience.isStartDateCalendarOpened = true">
                                        <i class="fa fa-calendar fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="text-danger field-validation-error" ng-messages="experience.form.submitted && experience.form.startDate.$error">
                                <span ng-message="required">This field is required.</span>
                                <span ng-message="date">A valid date is required.</span>
                            </div>
                        </div>

                        <div class="col-xs-1">To</div>

                        <div class="col-xs-5">
                            <div class="input-group">
                                <input type="text" name="endDate" class="form-control" placeholder="Select date"
                                       ng-model="experience.endDate"
                                       ng-required="!experience.present"
                                       uib-datepicker-popup="dd-MMMM-yyyy"
                                       is-open="experience.isEndDateCalendarOpened">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="experience.isEndDateCalendarOpened = true">
                                        <i class="fa fa-calendar fa-lg"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="text-danger field-validation-error" ng-messages="experience.form.submitted && experience.form.endDate.$error">
                                <span ng-message="required">This field is required.</span>
                                <span ng-message="date">A valid date is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-offset-7 col-xs-4">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" name="present" ng-value="true" ng-model="experience.present">
                                    Currently Present
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                        <label>Description</label>
                        <textarea class="form-control" ng-model="experience.description" rows="6" ng-maxlength="1000"></textarea>
                        <div class="text-danger field-validation-error" ng-messages="experience.form.submitted && experience.form.description.$error">
                            <span ng-message="maxlength">This field length is too large.</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="form-group">
                        <label>Notes</label>
                        <textarea class="form-control" ng-model="experience.notes" rows="6" ng-maxlength="1000"></textarea>
                        <div class="text-danger field-validation-error" ng-messages="experience.form.submitted && experience.form.notes.$error">
                            <span ng-message="maxlength">This field length is too large.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="experience.save()">Save</button>
    <button class="btn btn-danger" type="button" ng-click="experience.cancel()">Cancel</button>
</div>
