<div class="alert alert-info" role="alert" ng-hide="candidate.educations && candidate.educations.length">
    <i class="fa fa-lg fa-exclamation-triangle"></i>
    No education added yet.
</div>

<button type="button" class="btn btn-default" ng-click="candidate.openEducationModal()">Add Education</button>

<div class="table-responsive" ng-show="candidate.educations && candidate.educations.length">
    <table class="table">
        <tr>
            <th>Degree</th>
            <th>Field Of Study</th>
            <th>Grade</th>
            <th>Activites</th>
            <th>Description</th>
            <th>Duration</th>
            <th>Institution</th>
            <th></th>
        </tr>
        <tr ng-repeat="education in candidate.educations track by $index">
            <td>
                <div ng-bind="education.degree"></div>
            </td>
            <td>
                <div ng-bind="education.fieldOfStudy"></div>
            </td>
            <td>
                <div ng-bind="education.grade"></div>
            </td>
            <td>
                <div ng-bind="education.activites"></div>
            </td>
            <td>
                <div ng-bind="education.description"></div>
            </td>
            <td>
                <div ng-bind="education.firstYear - education.lastYear"></div>
            </td>
            <td>
                <div ng-bind="education.institution.Name"></div>
            </td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="candidate.discardEducation($index)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
</div>
