<div class="alert alert-info" role="alert" ng-hide="candidate.experiences && candidate.experiences.length">
    <i class="fa fa-lg fa-exclamation-triangle"></i>
    No experience added yet.
</div>

<p>
    <button type="button" class="btn btn-default" ng-click="candidate.openExperienceModal()">Add Experience</button>
</p>

<div class="table-responsive" ng-show="candidate.experiences && candidate.experiences.length">
    <table class="table">
        <tr>
            <th>Company Name</th>
            <th>Job Tittle</th>
            <th>From</th>
            <th>To</th>
            <th>Description</th>
            <th></th>
        </tr>
        <tr ng-repeat="experience in candidate.experiences track by $index">
            <td>
                <div ng-bind="experience.organization"></div>
            </td>
            <td>
                <div ng-bind="experience.jobTitle"></div>
            </td>
            <td>
                <div ng-bind="experience.from | date : format : timezone"></div>
            </td>
            <td>
                <div ng-bind="(experience.stillWorking) ? (experience.to | date : format : timezone) : experience.stillWorking"></div>
            </td>
            <td>
                <div ng-bind="experience.description"></div>
            <td>
                <button type="button" class="btn btn-danger" ng-click="candidate.discardExperience($index)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
</div>