<div class="panel panel-success">
    <div class="panel-heading">
        <i class="fa fa-lightbulb-o fa-lg"></i>
        Skill
    </div>

    <div class="panel-body">

        <div class="row">
            <div class="col-sm-4">
                <input type="text" class="form-control" placeholder="What are the candidate's area of expertise?" ng-model="ctrl.skill" on-enter="ctrl.addSkill()">
            </div>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary" ng-click="ctrl.addSkill()" ng-disabled="!ctrl.skill || ctrl.skill.length < 2">Add</button>
            </div>
        </div>

        <p style="font-size: 12px; line-height: 14px; margin-bottom: 10px; margin-top: 5px;">
            Total skills added:
            <strong ng-bind="ctrl.candidate.skills.length"></strong>
        </p>

        <hr/>

        <div ng-hide="ctrl.candidate.skills && ctrl.candidate.skills.length">
            <i class="fa fa-lg fa-exclamation-triangle"></i>
            No skills are added yet.
        </div>

        <div ng-show="ctrl.candidate.skills && ctrl.candidate.skills.length">
            <span ng-repeat="skill in ctrl.candidate.skills" class="label label-success" style="font-size: 90%; padding: 8px; margin: 5px;">
                {{ skill.name }}
                <a ng-click="ctrl.discardSkill($index)" style="cursor: pointer;" title="Remove">
                    <i class="fa fa-remove fa-lg"></i>
                </a>
            </span>
        </div>
    </div>
</div>