@model RecruitmentManagementSystem.App.ViewModels.Candidate.CandidateViewModel

@{
    ViewBag.Title = "Create New Candidate";
}

<h3>Create New Candidate</h3>
<hr/>

<div ng-controller="CandidatesController as candidate">

    <form name="candidate.form" ng-submit="candidate.create()" novalidate>

        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="row">
                <div class="col-xs-12 col-md-10">

                    <div class="form-group">
                        <label class="control-label col-md-2">First Name</label>
                        <div class="col-md-6">
                            <input type="text" name="firstName" ng-model="candidate.firstName" ng-maxlength="30" required class="form-control"/>
                            <div class="text-danger field-validation-error" ng-messages="candidate.form.submitted && candidate.form.firstName.$error">
                                <span ng-message="required">This field is required.</span>
                                <span ng-message="maxlength">This field is too large</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Last Name</label>
                        <div class="col-md-6">
                            <input type="text" name="lastName" ng-model="candidate.lastName" ng-maxlength="30" required class="form-control"/>
                            <div class="text-danger field-validation-error" ng-messages="candidate.form.submitted && candidate.form.lastName.$error">
                                <span ng-message="required">This field is required.</span>
                                <span ng-message="maxlength">This field length is too large.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Email</label>
                        <div class="col-md-6">
                            <input type="email" name="email" ng-model="candidate.email" required class="form-control"/>
                            <div class="text-danger field-validation-error" ng-messages="candidate.form.submitted && candidate.form.email.$error">
                                <span ng-message="required">This field is required.</span>
                                <span ng-message="email">This is not a valid email address.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Phone Number</label>
                        <div class="col-md-6">
                            <input type="text" name="phoneNumber" ng-model="candidate.phoneNumber" ng-pattern="/^\(?(\d{3})\)?[ .-]?(\d{3})[ .-]?(\d{4})$/" class="form-control"/>
                            <div class="text-danger field-validation-error" ng-messages="candidate.form.submitted && candidate.form.phoneNumber.$error">
                                <span ng-message="pattern">This is not a valid phone number.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Others</label>
                        <div class="col-md-6">
                            <textarea name="others" ng-model="candidate.others" class="form-control" rows="6" ng-maxlength="3000"></textarea>
                            <div class="text-danger field-validation-error" ng-messages="candidate.form.submitted && candidate.form.others.$error">
                                <span ng-message="maxlength">This field length is too large.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Website</label>
                        <div class="col-md-6">
                            <input type="url" name="website" ng-model="candidate.website" ng-maxlength="50" class="form-control"/>
                            <div class="text-danger field-validation-error" ng-messages="candidate.form.submitted && candidate.form.website.$error">
                                <span ng-message="maxlength">This field length is too large.</span>
                                <span ng-message="url">This is not a valid url.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Resume</label>
                        <div class="col-md-6">
                            <input type="file" title="Select Resume" ngf-pattern="'.pdf/*'" ngf-select ngf-change="candidate.attachResume($file)" />
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-2">
                    <img src="~/Content/Images/default-avatar.jpg" ng-src="{{ candidate.avatarPreview }}" alt="default avatar" class="img-thumbnail" style="height: 155px; width: 155px;">
                    <input type="file" title="Select Photo" ngf-pattern="'image/*'" ngf-select ngf-change="candidate.attachPhoto($file)" />
                </div>
            </div>

            <hr/>

            @Html.Partial("_EducationSection")

            <hr/>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save Candidate" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </form>
</div>

@Html.Partial("_EducationModal")