@model RecruitmentManagementSystem.App.ViewModels.Candidate.CandidateViewModel

@{
    ViewBag.Title = "Edit Candidate";
}

<h3>Edit Candidate</h3>
<hr />

<div ng-controller="CandidatesController as ctrl" ng-init="ctrl.getJobPositions(); ctrl.find()">

    <form name="ctrl.form" ng-submit="ctrl.update()" novalidate>

        @Html.AntiForgeryToken()

        <input type="hidden" name="id" ng-value="ctrl.candidate.id" />

        @Html.Partial("_FormBody")
    </form>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>