body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.required::after {
    content: " *";
    color: #db2828;
}

.userBasicInfoEdit, .userAvatarEdit {
    min-height: 303px;
}

.text-danger, .text-danger:hover {
    color: #d9534f;
    font-size: 12px;
    font-weight: bold;
    line-height: 2.5em;
}


//Variables
@import "variables/variable.scss";

//Mixins
@import "mixins/mixins.scss";

//Modules
@import "modules/login.scss";
