<div>
    <hr />

    <form class="form-horizontal" name="userCtrl.form" novalidate>
        @Html.AntiForgeryToken()

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="col-sm-4 control-label required">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="firstName" ng-model="userCtrl.user.firstName" ng-maxlength="30" required class="form-control" />
                            <div class="text-danger field-validation-error" ng-messages="userCtrl.form.submitted && userCtrl.form.firstName.$error">
                                <span ng-message="required">This field is required.</span>
                                <span ng-message="maxlength">The field length is too large</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label required">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="lastName" ng-model="userCtrl.user.lastName" ng-maxlength="30" required class="form-control" />
                            <div class="text-danger field-validation-error" ng-messages="userCtrl.form.submitted && userCtrl.form.lastName.$error">
                                <span ng-message="required">This field is required.</span>
                                <span ng-message="maxlength">The field length is too large.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label required">Email</label>
                        <div class="col-sm-8">
                            <input type="email" name="email" ng-model="userCtrl.user.email" ng-maxlength="50" required class="form-control" />
                            <div class="text-danger field-validation-error" ng-messages="userCtrl.form.submitted && userCtrl.form.email.$error">
                                <span ng-message="required">This field is required.</span>
                                <span ng-message="email">This is not a valid email address.</span>
                                <span ng-message="maxlength">The field length is too large.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Phone number</label>
                        <div class="col-sm-8">
                            <input type="tel" name="phoneNumber" ng-model="userCtrl.user.phoneNumber" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Address</label>
                        <div class="col-sm-8">
                            <textarea name="address" ng-model="userCtrl.user.address" class="form-control" rows="6" ng-maxlength="3000"></textarea>
                            <div class="text-danger field-validation-error" ng-messages="userCtrl.form.submitted && userCtrl.form.address.$error">
                                <span ng-message="maxlength">This field length is too large.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Others</label>
                        <div class="col-sm-8">
                            <textarea name="others" ng-model="userCtrl.user.others" class="form-control" rows="6" ng-maxlength="3000"></textarea>
                            <div class="text-danger field-validation-error" ng-messages="userCtrl.form.submitted && userCtrl.form.others.$error">
                                <span ng-message="maxlength">This field length is too large.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Website</label>
                        <div class="col-sm-8">
                            <input type="url" name="website" ng-model="userCtrl.user.website" ng-maxlength="50" class="form-control" />
                            <div class="text-danger field-validation-error" ng-messages="userCtrl.form.submitted && userCtrl.form.website.$error">
                                <span ng-message="maxlength">This field length is too large.</span>
                                <span ng-message="url">This is not a valid url.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 control-label">Resume</label>
                        <div class="col-sm-8">
                            <input type="file" title="Select Resume" ng-model="userCtrl.user.resume" ngf-select accept=".pdf,.doc,.docx" />
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-sm-offset-2">
                    <img src="~/Content/Images/default-avatar.jpg" ng-src="{{ userCtrl.user.avatar.relativePath }}" alt="default avatar" class="img-thumbnail" style="height: 155px; width: 155px;">
                    <input type="file" title="Select Photo" accept="image/*" ngf-fix-orientation="false" ngf-select="userCtrl.renderAvatarPreview($file)" />
                </div>
            </div>
        </div>
    </form>
</div>