@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>
<hr/>

<div ng-controller="UsersController as userCtrl" ng-init="userCtrl.find('@ViewData["UserId"]')">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-target="#personal" aria-controls="personal" role="tab" data-toggle="tab">Personal Information</a></li>
        <li role="presentation"><a data-target="#security" aria-controls="security" role="tab" data-toggle="tab">Security</a></li>
        <li role="presentation"><a data-target="#educations" aria-controls="educations" role="tab" data-toggle="tab">Educations</a></li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="personal"></div>
        <div role="tabpanel" class="tab-pane fade" id="security">...</div>
        <div role="tabpanel" class="tab-pane fade" id="educations">...</div>
    </div>
</div>