@using RecruitmentManagementSystem.Model

@{
    ViewBag.Title = "Create Question";
}

<h3>Create New Question</h3>
<hr />

<div class="row">
    <div class="col-sm-7">
        <div ng-controller="QuestionsController as ctrl" ng-init="ctrl.findCategories()">

            <form name="ctrl.form" ng-submit="ctrl.create()" novalidate>

                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Text</label>
                        <div class="col-sm-10">
                            <textarea name="text" ng-model="ctrl.text" required class="form-control" rows="6"></textarea>
                            <div class="text-danger field-validation-error" ng-messages="ctrl.form.submitted && ctrl.form.text.$error">
                                <span ng-message="required">This field is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Category</label>
                        <div class="col-sm-5">
                            <select name="category" class="form-control" ng-model="ctrl.categoryId" ng-options="option.id as option.name for option in ctrl.categories" required>
                                <option value="">Select Category</option>
                            </select>
                            <div class="text-danger field-validation-error" ng-messages="ctrl.form.submitted && ctrl.form.category.$error">
                                <span ng-message="required">This field is required.</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            @Html.ActionLink("Create new category", "Create", "QuestionCategory")
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Additional Info</label>
                        <div class="col-sm-10">
                            <textarea name="notes" class="form-control" rows="6" ng-model="ctrl.notes"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Related Documents</label>
                        <div class="col-sm-10">
                            <input type="file" title="Select Document" ng-model="ctrl.documents" ngf-select="ctrl.addDocument($files)" accept=".pdf,.doc,.docx" multiple/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2"></label>
                        <div class="col-sm-10" ng-show="ctrl.allDocuments && ctrl.allDocuments.length">
                            <span ng-repeat="document in ctrl.allDocuments" class="label label-success" style="font-size: 90%; padding: 8px; margin: 5px;">
                                {{ document.name }}
                                <a ng-click="ctrl.discardDocument($index)" style="cursor: pointer;" title="Remove">
                                    <i class="fa fa-remove fa-lg"></i>
                                </a>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-2">Question Type</label>

                        <div class="col-sm-6">
                            @Html.DropDownList("QuestionType", EnumHelper.GetSelectList(typeof (QuestionType)), "Select Type", new {@class = "form-control", ng_model = "ctrl.questionType", @required = ""})
                            <div class="text-danger field-validation-error" ng-messages="ctrl.form.submitted && ctrl.form.QuestionType.$error">
                                <span ng-message="required">This field is required.</span>
                            </div>
                        </div>
                    </div>

                    <div ng-include="'/Scripts/questions/templates/question-type.html'"></div>

                    <hr/>

                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="submit" value="Create" class="btn btn-success"/>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
