@using RecruitmentManagementSystem.Model

@{
    ViewBag.Title = "Edit";
}
<div class="row panel-wrapper">
    <div class="col-sm-6 col-md-6 well">
        <h2>Edit Question</h2>
        <hr />

        <div ng-controller="QuestionsController as ctrl" ng-init="ctrl.findCategories(); ctrl.find()">
            <form name="ctrl.form" ng-submit="ctrl.update()" novalidate>

                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <input type="hidden" name="id" ng-model="ctrl.question.Id" />

                    <div class="form-group">
                        <label class="control-label col-md-4">Text</label>
                        <div class="col-md-8">
                            <textarea name="text" ng-model="ctrl.question.Text" required class="form-control" rows="6"></textarea>
                            <div class="text-danger field-validation-error" ng-messages="ctrl.form.submitted && ctrl.form.text.$error">
                                <span ng-message="required">This field is required.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Category</label>
                        <div class="col-md-8>
                            <select name="category" class="form-control" ng-model="ctrl.question.CategoryId" ng-options="option.Id as option.Name for option in ctrl.categories" required>
                                <option value="">Select Category</option>
                            </select>
                            <div class="text-danger field-validation-error" ng-messages="ctrl.form.submitted && ctrl.form.category.$error">
                                <span ng-message="required">This field is required.</span>
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-4">
                            @Html.ActionLink("Create new category", "Create", "QuestionCategory")
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Additional Info</label>
                        <div class="col-md-8">
                            <textarea class="form-control" rows="6" ng-model="ctrl.question.Notes"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-4">Question Type</label>
                        <div class="col-md-8">
                            @Html.DropDownList("QuestionType", EnumHelper.GetSelectList(typeof(QuestionType)), "Select Type", new { @class = "form-control", ng_model = "ctrl.question.QuestionType" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-8">
                            <input type="submit" value="Save" class="btn btn-success" />
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </form>
        </div>
</div>
</div>